{% extends 'choonz/base.html' %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading">Register Here for a Choonz account!</h1>
		</div>
	</div>

	<div class="container">
		<div class="container">
			<div class="card p-4">
				<form role="form" method="post" action=".">
					{% csrf_token %}
					<div class="card-body">
						<div class="input-group mb-3">
							<p class="required">
	                            <div class="input-group-prepend">
	                                <span class="input-group-text" id="basic-addon1">Username:</span>
	                            </div>
	                            <input class="form-control" id="id_username" maxlength="30" name="username" type="text" />
                            </p>
                        </div>
                        <div class="text-danger">
                            <p>
                                {{ form.username.errors}}
                            </p>
                        </div>
                        <p>
	                    	<span class="helptext">
								A Username is required. 30 characters or fewer.
								Letters, digits and @/./+/-/_ only.
							</span>
						</p>
                        <div class="input-group mb-3">
							<p class="required">
	                            <div class="input-group-prepend">
	                                <span class="input-group-text" id="basic-addon1">E-mail:</span>
	                            </div>
	                            <input class="form-control" id="id_email" name="email" type="email" />
                            </p>
                        </div>
                        <div class="text-danger">
                            <p>
                                {{ form.email.errors}}
                            </p>
                        </div>
                        <div class="input-group mb-3">
							<p class="required">
	                            <div class="input-group-prepend">
	                                <span class="input-group-text" id="basic-addon1">Password:</span>
	                            </div>
	                            <input class="form-control" id="id_password1" name="password1" type="password" />
                            </p>
                        </div>
                        <div class="text-danger">
                            <p>
                                {{ form.password1.errors}}
                            </p>
                        </div>
                        <div class="input-group mb-3">
							<p class="required">
	                            <div class="input-group-prepend">
	                                <span class="input-group-text" id="basic-addon1">Re-type password:</span>
	                            </div>
	                            <input class="form-control" id="id_password2" name="password2" type="password" />
                            </p>
                        </div>
                        <p>
                        	<span class="helptext">
								Now, enter the same password as before, for verification.
							</span>
						</p>
						<div class="text-danger">
                            <p>
                                {{ form.password2.errors}}
                            </p>
                        </div>
					</div>
					<button type="submit" class="btn btn-primary btn-block" id="registration-button">Submit</button>
				</form>
			</div>
		</div>
	</div>		

{% endblock %}