{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About choonz
{% endblock %}

{% block body_block %}
	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading"><strong>What are Choonz?</strong></h1>
			<div>
				<h2 class="h2">
				Here what it's all about.
				<br>
				Choonz is brought to you by the GrooPeez
				</h2>
			</div>
			<p>
			<br>
			<br>
			Choonz is a django based web application, created by four music loving students as part of their Glasgow University Masters Degree in Software Development. 
			<br>
			<br>
			Choonz allows users to create, upload or share music playlists from their favourite streaming sources. Create a new playlist and apply descriptive ‘tags’ to help categorise the playlist. Other users will then be able to rate and review your playlist/s and will be recommended similar popular playlists.
			<br>
			<br>
			Our top rated playlists are displayed on the front page. You can find the playlists with the most ratings, recently created playlists as well as the highest rated of the last week, month and all time. If this isn't to your taste you can also search for playlists by name or by tag/s, helping you find your perfect playlist!
			<br>
			<br>
			Sign in with Github, Spotify or Twitter and automatically share or import you favourite playlists. Friends can then rate your musical prowess. 
			<br>
			<br>
			Create, rate and debate music with Choonz.
			<br>
			<br>
			</p>
			<br>
			<br>	
			<p>Visits: {{ visits}}</p>
			</div>
		</div>
	<div>

	</div>
{% endblock %}