{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About choonz
{% endblock %}

{% block body_block %}
	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading">What are Choonz?</h1>
			<div>
				<h2 class="h2">
				Here what it's all about (page).
				<br />
				<strong>Choonz are brought to you by the GrooPeez</strong>
				</h2>
			</div>
		</div>
			<p>
			<br />
			Choonz is a django based web application, created by four music loving students as part of their Glasgow University Masters Degree in Software Development.
			<br />
			Alot of love went in to this project. We hope you enjoy it as much as we enjoyed making it. 
			</p>
		</div>
	<div>
	<p>Visits: {{ visits}}</p>
	</div>
{% endblock %}