{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Playlist
{% endblock %}

{% block body_block %}
    <div class="container-fluid" id="headerContainer">
        <h1 class="display-4" id="titleHeader">Choonbuilder</h1>
        <p class="lead"></p>
    </div>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'choonz:add_playlist' %}">Add a Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'choonz:playlist_creator' %}">Edit a Playlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'choonz:drafts' %}">Draft Playlists</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <form role="form" id="playlist_form" method="post" action="{% url 'choonz:add_playlist' %}">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <p class="required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Playlist name:</span>
                                </div>
                                <input type="text" name="name" id="name" class="form-control" placeholder="{{ form.name.help_text }}" required autofocus size="50">
                            </p>
                        </div>
                        <div class="input-group mb-3">
                            <p class="required">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Description:</span>
                                </div>
                                <input type="text" name="description" id="description" class="form-control" placeholder="{{ form.description.help_text }}" size="100">
                            </p>
                        </div>
                    <button class="btn btn-primary" type="submit" name="submit">Create Playlist</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


