{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Contact choonz
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading"><strong>Contact Us</strong></h1>
				<h3 class="h3">Please feel free to email the link below for more details.</h3>
				<br>
	<section class="mb-4">
        <div class="col-md-3 text-center">
                <i class= "glyphicon glyphicon-home"></i>
                	<br>
                    <p>GrooPeez<br>
                    Glasgow, University, UK</p>
                <i class="glyphicon glyphicon-earphone"></i>
                    <p>+ 01 234 567 89</p>
                <i class="glyphicon glyphicon-envelope"></i>
                    <p>2495357A@student.gla.ac.uk</p>
                    <br>
		</div>
	</section>
		</div>
	</div>
{% endblock %}