{% extends 'choonz/base.html' %}
{% load staticfiles %}
{% load choonz_template_tags %}

{% block title_block %}
    Playlist Creator
{% endblock %}

{% block body_block %}
    <div class="container-fluid" id="headerContainer">
        <h1 class="display-4" id="titleHeader">Choonbuilder</h1>
        <p class="lead"></p>
    </div>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'choonz:add_playlist' %}">Add a Playlist</a>
                </li>
                {% if playlist %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'choonz:edit_playlist' playlist.slug %}">Edit a Playlist</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'choonz:drafts' %}">Draft Playlists</a>
                </li>
            </ul>
        </div>
        <div class="jumbotron m-2 p-1">
            <h3 class="jumbotron-header">You are currently editing "<a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.name }}</a>"</h3>
            <div class="btn-group dropright">
                        
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Edit Another Playlist
                </button>
                
                <div class="dropdown-menu">
                {% for p in playlist_list %}
                    <a class="dropdown-item" href="{% url 'choonz:edit_playlist' p.slug %}">{{ p.name }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="jumbotron m-2 p-1">
        {% if playlist.public %}
            <h4>Want to pull this playlist back from your adoring public so you can make some changes?</h4>
                <form class="form-inline" id="user-form" method="get" action="{% url 'choonz:publish_playlist' %}">
                    {% csrf_token %}
                    <input id="playlist_id" name="playlist_id" type="hidden" value="{{ playlist.id }}">
                    <button class="btn btn-warning btn-block" type="submit" data-playlist_id="{{ playlist.id }}" name="submit">Send to Drafts</button>
                </form>
        {% else %}
            <h4>Nobody can see your masterpiece yet! Make it public so they can appreciate your genius!</h4>
                <form class="form-inline" id="user-form" method="post" action="{% url 'choonz:publish_playlist' %}">
                    {% csrf_token %}
                    <input id="playlist_id" name="playlist_id" type="hidden" value="{{ playlist.id }}">
                    <button class="btn btn-warning btn-block" type="submit" data-playlist_id="{{ playlist.id }}" name="submit">Publish this Playlist!</button>
                </form>
        {% endif %}
        </div>
        <hr>
    {% if user == playlist.creator %}
        <div class="container">
            <div class="container">
                <button class="btn btn-light btn-block" data-toggle="collapse" href="#collapse-edit-playlist-details" role="button"  id="edit-playlist-dropdown">Edit Playlist Details</button>
            </div>
        </div>
        <div class="collapse container m-2" id="collapse-edit-playlist-details">
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Playlist Name:</span>
                    </div>
                    <input type="text" class="form-control" name="edit_name" id="edit_name" value="{{ playlist.name }}">
                </div>

                <div class="input-group mb-3">
                    <p class="required">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="playlist-description-prompt">Description:</span>
                        </div>
                        <input type="text" name="edit_description" id="edit_description" class="form-control" value="{{ playlist.description }}" size="100">
                    </p>
                </div>
                <div class="input-group mb-3">
                        <p class="required">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="playlist-tags-prompt">Tags:</span>
                            </div>
                        {% if playlist.get_playlist_tag_descriptions_as_string %}
                            <input type="text" name="tags" id="tags" class="form-control" value="{{ playlist.get_playlist_tag_descriptions_as_string }}, " readonly></input>
                        {% else %}
                            <input type="text" name="tags" id="tags" class="form-control" value="" readonly></input>
                        {% endif %}
                        </p>
                    </div>
                    <div class="input-group mb-3">
                        <p class="required">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="playlist-search-tags-prompt">Add Tags:</span>
                            </div>
                            <textarea id="tag-search-input" class="form-control" placeholder="Search all tags..." rows="1"></textarea>
                        </p>
                        <div class="container m-4" id="tag-listing">
                            {% block tag_list_block %}
                                {% get_tag_list tag %}
                            {% endblock %}
                        </div>
                    </div>

                <button type="button" class="btn btn-info" id="edit_playlist_save_changes" data-playlistSlug="{{ playlist.slug }}">Save Changes</button>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="container">
                <button class="btn btn-light btn-block" data-toggle="collapse" href="#collapse-add-song-fields" role="button"  id="add-songs-dropdown">Add Songs</button>
            </div>
        </div>
        <div class="collapse container m-2" id="collapse-add-song-fields">
            <div class="card-body">
                <form role="form" id="add_song_form" method="post" action="{% url 'choonz:add_song' playlist.slug %}">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                {% endfor %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="song_title_label">Song Title:</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Title" id="add_song_title" aria-label="SongTitle" />
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="song_artist_label">Artist:</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Artist" id="add_song_artist" />
                </div>

                <label for="basic-url">Spotify Link?</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="song_spotify_url">https://open.spotify.com/</span>
                    </div>
                    <input type="text" class="form-control" id="add_song_spotify_link" />
                </div>

                <label for="basic-url">Youtube Link?</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="song_spotify_url">https://youtube.com/</span>
                    </div>
                    <input type="text" class="form-control" id="add_song_other_link" />
                </div>
                <button class="btn btn-info" id="add_song_btn" data-playlistSlug="{{ playlist.slug }}" type="button">Add Song</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="container">
                <button class="btn btn-light btn-block" data-toggle="collapse" href="#collapse-spotify-search-field" role="button"  id="open-spotify-search-dropdown">Search Spotify</button>
            </div>
        </div>
        <div class="collapse container m-2" id="collapse-spotify-search-field">
            <div class="container">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="spotify-search-text">Search Spotify here:</span>
                        </div>
                        <input class="form-control" type="text" name="query" id="spotify_search-query" value="{{ query }}"/>
                        <button class="btn btn-light" type="submit" data-playlistSlug="{{ playlist.slug }}" id="spotify-add-song-search">Search</button>
                    </div>
                </div>

                <div class="container">
                    <ul id="spotify-search-results">
                        
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="container">
                <h5>Already have a bangin' Spotify playlist? Then <a href="{% url 'choonz:import_playlist' playlist.slug %}">import it here</a>!</h5>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="card-body" id="playlist-header">
                <h4>All songs on {{ playlist.name }}</h4>
            </div>
            <ul id="edit-song-list">
            {% if playlist.get_song_list %}
                {% for song in playlist.get_song_list %}
                <li class="choonz-row" id="{{song.slug}}">
                    <div class="col-md-9 title-and-artist-{{song.slug}}">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>{{ song.title }}</h5>
                            </div>
                            <div class="col">
                                <strong>Spotify URL: </strong>
                                {% if song.linkToSpotify %}
                                    <input class="choonz-form-control add-url-to-song" data-urlType="spotify" data-songSlug="{{song.slug}}" data-playlistSlug="{{playlist.slug}}" type="text" value="{{song.linkToSpotify}}" />
                                {% else %}
                                    <input class="choonz-form-control add-url-to-song" data-urlType="spotify" data-songSlug="{{song.slug}}" data-playlistSlug="{{playlist.slug}}" type="text" value="~ insert here ~" />
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                by {{ song.artist }}
                            </div>
                            <div class="col">
                                <strong>Other Link: </strong>
                                {% if song.linkOther %}
                                    <input class="choonz-form-control add-url-to-song" data-urlType="other" data-songSlug="{{song.slug}}" data-playlistSlug="{{playlist.slug}}" type="text" value="{{song.linkOther}}" />
                                {% else %}
                                   <input class="choonz-form-control add-url-to-song" data-urlType="other" data-songSlug="{{song.slug}}" data-playlistSlug="{{playlist.slug}}" type="text" value="~ insert here ~" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choonz-col">
                            <button class="btn btn-danger remove-song-button" type="button" id="remove-song-{{song.slug}}" data-songSlug="{{song.slug}}">Remove</button>
                            <button class="btn btn-danger confirm-song-remove" type="button" id="confirm-remove-{{song.slug}}" data-songSlug="{{ song.slug }}" data-playlistSlug="{{ playlist.slug }}">Confirm</button>
                            <button class="btn btn-secondary cancel-song-remove" type="button" id="cancel-remove-{{song.slug}}" data-songSlug="{{ song.slug }}" data-playlistSlug="{{ playlist.slug }}">Cancel</button>
                            <button class="btn btn-secondary undo-song-remove" type="button" id="undo-remove-{{song.slug}}" data-songSlug="{{ song.slug }}" data-songTitle="{{song.title}}" data-artistName="{{song.artist}}" data-linkToSpotify="{{song.linkToSpotify}}" data-linkOther="{{song.linkOther}}" data-playlistSlug="{{ playlist.slug }}">Undo Song Remove</button>
                        </div>
                    </div>
                </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        <hr>
        <div class="jumbotron m-2 p-1">
            <h4>Don't like your playlist any more? Delete it using the button below! ** WARNING ** Cannot undo!</h4>
            <form class="form-inline" id="user-form" method="post" action="{% url 'choonz:delete_playlist' playlist.slug %}">
                {% csrf_token %}
                <div class="container-fluid">
                    <input id="playlist_id" name="playlist_id" type="hidden" value="{{ playlist.id }}">
                    <a class="btn btn-danger btn-block delete-playlist-button" id="delete-playlist-button">Delete Playlist</a>
                </div>
                <div class="container-fluid" id="playlist-delete-buttons">
                    <h4>Are you absolutely sure? This cannot be undone</h4>
                    <button class="btn btn-info btn-block cancel-delete-playlist" type="button" id="cancel-delete-playlist">Do Not Delete</button>
                    <div class="centred"> ~ or ~ </div>
                    <button class="btn btn-danger btn-block confirm-delete-playlist" type="submit" id="confirm-delete-playlist" data-playlist_id="{{ playlist.id }}" name="submit">Delete Playlist</button>
                </div>
            </form>
        </div>
    {% else %}
            <div class="card">
                <h4>You cannot edit this playlist as you are not the owner.</h4>
            </div>
    {% endif %}

    <div id="addSongPopUp">PopUp message</div>

{% endblock %}