{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}
	<div class="container-fluid" id="indexJumbotron">
	</div>	
		<div id="page-greeting">
			<h2 class="h2">
			{% if user.is_authenticated %}
				Hi {{user.username }}, ready to get your playlist on?
			{% else %}
				hey there partner!
			{% endif %}
			</h2>
		</div>
	</div>

	<div class="container-fluid" id="indexContainer">
		<div class="row">
			<div class="col index-card">
			<h2><center>Most Rated Playlists</center></h2>
			<div class="card md-4">
					<div class="card-body" id="card-body1">
						<p class="card-text">
							{% if most_rated_playlists %}
								<ul class="list-group">
									{% for playlist in most_rated_playlists %}
										<li class="list-group-item see-through"><a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.name }}</a></li>
									{% endfor %}
								</ul>
							{% else %}
								<strong>There are no playlists present.</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
			
			<div class="col index-card">
			<h2><center>Highest Rated Playlists</center></h2>
				<div class="card md-4">
					<div class="card-body2" id="card-body2">
						<p class="card-text">
							{% if highest_rated_playlists %}
								<ul class="list-group">
									{% for playlist in highest_rated_playlists %}
										<li class="list-group-item see-through"><a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.name }}</a></li>
									{% endfor %}
								</ul>
							{% else %}
								<strong>There are no pages present.</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
			<div class="col index-card">
			<h2><center>Songs</center></h2>
				<div class="card md-4">
					<div class="card-body3" id="card-body3">
						<p class="card-text">
							{% if songs %}
								<ul class="list-group">
									{% for song in songs %}
										<li class="list-group-item see-through">{{ song.title }}</li>
									{% endfor %}
								</ul>
							{% else %}
								<strong>There are no pages present.</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
