{% extends 'choonz/base.html' %}
{% load staticfiles %}
{% load choonz_template_tags %}

{% block title_block %}
	All Playlists
{% endblock %}

{% block body_block %}
	
	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading">All Playlists</h1>
		</div>
	</div>

	<div class="container" id="all-playlist-listing-page">
		<div class="row">
			{% if playlist_list %}
			<div class="input-group mb-3" id="playlist-search-bar">
                <p class="required">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="playlist-search-prompt">Find a playlist:</span>
                    </div>
                    <textarea id="playlist-search-input" class="form-control" placeholder="Search all playlists..." rows="1"></textarea>
                </p>
                <div class="container" id="playlist-listing">
                    {% block sidebar_block %}
                        {% get_playlist_list %}
                    {% endblock %}
                </div>
            </div>
			<div class="panel-body" id="all-playlist-listing">
				<div class="list-group">
					{% for playlist in playlist_list %}
						<div class="list-group-item">
							<h4 class="list-group-item-heading">
								<a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.name }} 
								</a>
								<small>by <a href="{% url 'choonz:profile' playlist.creator %}">{{ playlist.creator }}</a></small>
								{% if playlist.picture %}
									<img src="{{ MEDIA_URL }}{{ playlist.picture }}" width="30" height="30" alt="{{ playlist.name }}'s playlist image" />
								{% endif %}
							</h4>
							<h5>{{ playlist.get_playlist_tag_descriptions_as_string }}</h5>
						</div>
					{% endfor %}
				</div>
			</div>
			{% else %}
				<div class="list-group-item">
					<h4 class="list-group-item-heading">
						There are no public playlists at present.
					</h4>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="container">
		<div class="card">
			<p>Can't see a playlist that you like? Then why not <a href="{% url 'choonz:add_playlist' %}">make your own</a>?</p>
		</div>
	</div>

{% endblock %}