{% extends 'choonz/base.html' %}
{% load staticfiles %}
{% load choonz_template_tags %}

{% block title_block %}
    My Stats
{% endblock %}

{% block body_block %}

    <div class="container-fluid" id="headerContainer">
        <h1 class="display-4" id="titleHeader">My Stats</h1>
        <p class="lead"></p>
    </div>

    <div class="container">
        <div class="card">
            <div class="container">
                <h4>Playlist stats</h4>
                <button class="btn btn-warning" type="button" onclick="loadRatingChart({{ playlist_stats.playlist_names }}, {{playlist_stats.playlist_aves }}, {{ playlist_stats.user_playlist_average_rating }})">Refresh Graphs</button>
            </div>
            <div class="row p-4">
                <div class="col p-3 m-3">
                    {% if playlist_stats %}
                        <table id="user-info-table">
                            <tr>
                                <th>Category</th>
                                <th>Data</th>
                            </tr>
                            <tr>
                                <td>{{ user.username }}'s average playlist rating</td>
                                <td>{{ playlist_stats.user_playlist_average_rating }}</td>
                            </tr>
                            <tr>
                                <td>{{ user.username }}'s most_rated_playlist</td>
                                <td>{{ playlist_stats.most_rated_playlist }}</td>
                            </tr>
                            <tr>
                                <td>{{ user.username }}'s highest_rated_playlist</td>
                                <td>{{ playlist_stats.highest_rated_playlist }}</td>
                            </tr>
                        </table>
                        <br />
                        <table id="playlist-info-table">
                            <tr>
                                <th>Playlist Name</th>
                                <th>Rating</th>
                            </tr>
                            {% for p in playlist_stats.combined_stats %}
                                <tr>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.ave }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br />
                    {% endif %}
                </div>
                <div class="col p-3 m-3">
                    <canvas id="playlist-rating-bar-chart" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div id="addSongPopUp">PopUp message</div>

{% endblock %}