{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{% if playlist %}
		{{ playlist.name }}
	{% else %}
		Unknown Playlist
	{% endif %}
{% endblock %}

{% block body_block %}
	{% if playlist %}
		<div class="jumbotron p-4">
			<div class="container">
				<div class="row">
					<div class="col">	
						<h1 class="jumbotron-heading">{{ playlist.name }}</h1>
					</div>
					<div class="col">
						<h4 class="jumbotron-heading">Average Rating: {{ playlist.averageRating|floatformat}}/5.0</h4>
					</div>
				</div>
				<div class="row">
					<div class="col m-0">
						created by <a href="{% url 'choonz:profile' playlist.creator %}">{{ playlist.creator }}</a>
					</div>
					<div class="col m-0">
						<strong id="like_count">{{ playlist.likes }}</strong> likes
						{% if user.is_authenticated and user != playlist.creator %}
							<button id="like_btn" data-playlistid="{{ playlist.id }}" class="btn btn-primary btn-sm" type="button">
								<span data-feather="thumbs-up"></span>
								Like Playlist
							</button>
						{% endif %}
					</div>
					<div class="col m-1">
						{% if user.is_authenticated %}
							{% if user != playlist.creator %}
								<div>
									<form class="form-inline" id="user-form" method="post" action="{% url 'choonz:rate_playlist' playlist.slug %}">
										{% csrf_token %}
										<button class="btn btn-warning" type="submit" name="submit">Rate this Playlist!</button>
									</form>
								</div>
							{% else %}
								{% if playlist.public %}
									<div>
										<form class="form-inline" id="user-form" method="get" action="{% url 'choonz:publish_playlist' %}">
											{% csrf_token %}
											<input id="playlist_id" name="playlist_id" type="hidden" value="{{ playlist.id }}">
											<button class="btn btn-warning" type="submit" data-playlist_id="{{ playlist.id }}" name="submit">Send to Drafts</button>
										</form>
									</div>
								{% else %}
									<div>
										<form class="form-inline" id="user-form" method="post" action="{% url 'choonz:publish_playlist' %}">
											{% csrf_token %}
											<input id="playlist_id" name="playlist_id" type="hidden" value="{{ playlist.id }}">
											<button class="btn btn-warning" type="submit" data-playlist_id="{{ playlist.id }}" name="submit">Publish this Playlist!</button>
										</form>
									</div>
								{% endif %}
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		
		<div id="page-listing">
		{% if songs %}
			<ul>
				{% for song in songs %}
				<li class="list-group-item">{{ song.title }} by 
					{% if song.artist.webpage %}
						<a href="{{ song.artist.webpage }}">{{ song.artist }}</a>
					{% else %}
						{{ song.artist }}
					{% endif %}
					{% if song.linkToSpotify %}
						<a class="btn btn-primary" href="{{ song.linkToSpotify }}" target="_blank" name="submit">Listen with Spotify</a>
					{% else %}
						{% if user == playlist.creator %}
							<button class="btn btn-primary" name="submit">Add Link to Spotify</button>
						{% endif %}
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
		{% else %}
			<strong>No songs currently in playlist.</strong>
		{% endif %}

	{% else %}
		The specified playlist does not exist.
	{% endif %}
{% endblock %}