<li class="see-through">
    <div class="choonz-row-no-border">
        <a class="choonz-badge p-2"
           href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.name|truncatechars:50 }}</a>
        <div class="choonz-row-no-border badge-light">
            {% if minimised_stars %}
                Average: {{ average }} &#x2606; from {{ playlist.get_number_of_ratings }} ratings
            {% else %}
            Average: 
            <div class="min-rating"
                 data-rate-value="{{ average }}"></div>
            from {{ playlist.get_number_of_ratings }} ratings
            {% endif %}
        </div>
    </div>
    <div class="choonz-row-no-border">
        {% if playlist.creator == user %}
            <a class="choonz-badge badge-info" type="submit" name="submit"
               id="edit-playlist-button"
               href="{% url 'choonz:edit_playlist' playlist.slug %}">Edit
            </a>
        {% endif %}
    </div>
    <div class="choonz-row-no-border">
        {% if tags_wanted %}
            <span class="choonz-badge badge-light p-2 tag-list-badge">Tags: {{ tags }}</span>
        {% endif %}
    </div>

</li>