{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Playlist Creator
{% endblock %}

{% block body_block %}
    <div class="container-fluid" id="headerContainer">
        <h1 class="display-4" id="titleHeader">Choonbuilder</h1>
        <p class="lead"></p>
    </div>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'choonz:add_playlist' %}">Add a Playlist</a>
                </li>
                {% if playlist %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'choonz:playlist_editor' playlist.slug %}">Edit a Playlist</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'choonz:drafts' %}">Draft Playlists</a>
                </li>
            </ul>
        </div>

        <div class="container-fluid" id="cardBox">
            <div class="row">
                <div class="col">
                    <h4>Edit Playlist details</h4>
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Playlist Name:</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Playlist Name"
                                       aria-label="PlaylistName"
                                       aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Playlist Tags:</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Tags" aria-label="TagBox"
                                       aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Playlist Description:</span>
                                </div>
                                <textarea class="form-control" aria-label="With textarea"></textarea>
                            </div>
                            <br />
                            <button type="button" class="btn btn-info">Save Changes</button>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h4>Add songs here or <a href="{% url 'choonz:import_playlist' playlist.slug %}">import from Spotify</a></h4>
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <form role="form" id="add_song_form" method="post" action="{% url 'choonz:add_song' playlist.slug %}">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="song_title_label">Song Title:</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Title" id="add_song_title" aria-label="SongTitle"
                                       aria-describedby="basic-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="song_artist_label">Artist:</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Artist" id="add_song_artist" aria-label="Artist "
                                       aria-describedby="basic-addon1">
                            </div>

                            <label for="basic-url">Spotify Link?</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="song_spotify_url">https://open.spotify.com/</span>
                                </div>
                                <input type="text" class="form-control" id="add_song_spotify_link" aria-describedby="basic-addon3">
                            </div>

                            <label for="basic-url">Youtube Link?</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="song_spotify_url">https://youtube.com/</span>
                                </div>
                                <input type="text" class="form-control" id="add_song_other_link" aria-describedby="basic-addon3">
                            </div>
                            <button class="btn btn-info" id="add_song_btn" data-playlistSlug="{{ playlist.slug }}" type="button">Add Song</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <div class="card-body" id="playlist-header">
                                <h4>Playlist Title</h4>
                                <h4> by Author</h4>
                                <img>
                            </div>
                            <ul>

                            </ul>
							<div class="btn-group dropright">
								
								<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Load Playlist
								</button>
								
								<div class="dropdown-menu">
								
									<a class="dropdown-item" href="#">Playlist</a>
									<a class="dropdown-item" href="#">Playlist</a>
									<a class="dropdown-item" href="#">Playlist</a>
									
								<div>
							
							<div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addSongPopUp">PopUp message</div>

{% endblock %}