{% extends 'choonz/base.html' %}
{% load staticfiles %}
{% load choonz_template_tags %}

{% block title_block %}
	{% if playlist %}
		{{ playlist.name }}
	{% else %}
		Unknown Playlist
	{% endif %}
{% endblock %}

{% block body_block %}
	{% if playlist %}
		<div class="container page-header p-2">
			<div class="container m-1">
				<div class="row">	
				<div class="col">
					<div class="row">	
						<h1 class="container page-header-font">{{ playlist.name }}</h1>
					</div>
					<p>created by <a href="{% url 'choonz:profile' playlist.creator %}">{{ playlist.creator }}</a></p>
					<div class="row">
						Description: {{ playlist.description }}<br/>
						Created on: {{ playlist.createdDate }}, Last updated: {{ playlist.lastUpdatedDate }}
					</div>
				</div>	
				<div class="col">
					<div class="row">
						<h4 class="container page-header-font">Average Rating: 
						{% if playlist.get_average_rating %}
							{{ playlist.get_average_rating|floatformat}}
						{% else %}
							0.0
						{% endif %}
						/5.0</h4>
					</div>
					<div class="row">
						{% if user.is_authenticated %}
							{% if user != playlist.creator %}
								<div class="page-header p-2">
									<form class="form-inline" id="rating-form" method="post" action="{% url 'choonz:rate_playlist' playlist.slug %}">
									{% csrf_token %}
									{{ form.non_field_errors }}
									<div class="row centred mb-3">
		                                <p class="required">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text">Your rating: </span>
		                                    </div>
		                                {% if user_has_rated %}
		                                    <div class="rate" id="stars" data-rate-value={{rating.stars}}></div>
		                                    <input type="text" name="stars" id="stars-input" value="{{rating.stars}}" hidden />
		                                {% else %}
		                                	<div class="rate" id="stars" data-rate-value={{rating.stars}}></div>
		                                    <input type="text" name="stars" id="stars-input" value="0" hidden />
		                                {% endif %}
		                                    <div class="text-danger">
						                            {{ form.stars.errors }}
						                    </div>
		                                </p>
		                            </div>

									<div class="row centred mb-3">
		                                <p class="required">
		                                    <div class="input-group-prepend">
		                                        <span class="input-group-text">Comment: </span>
		                                    </div>
		                                    {% if user_has_rated %}
		                                    	<input type="text" name="comment" id="comment" class="form-control" value="{{ rating.comment }}" size="50" readonly />
		                                    {% else %}
		                                    	<input type="text" name="comment" id="comment" class="form-control" value="" size="50" />
		                                    {% endif %}
		                                </p>
		                            </div>
		                            <div class="text-danger">
				                            {{ form.comment.errors }}
				                    </div>
				                    <div class="container-fluid">
				                  	{% if user_has_rated %}
				                    	<a type="button" class="btn btn-warning btn-block" id="show-update-rating-fields">Edit Your Rating</a>
				                    	<button class="btn btn-primary" id="hidden-submit-rating-update" type="submit">Submit</button>
										<a type="button" class="btn btn-secondary btn-block" id="hidden-cancel-rating-update">Cancel</a>
				                    {% else %}
				                    	<button class="btn btn-primary btn-block" id="submit-rating-update" type="submit">Submit</button>
										<a type="button" class="btn btn-secondary btn-block" id="cancel-rating-update">Cancel</a>
									{% endif %}
									</div>
									</form>
								</div>
							{% else %}
								{% if playlist.public %}
									<div class="page-header p-2">
										<form class="form-inline" id="user-form" method="get" action="{% url 'choonz:publish_playlist' %}">
											{% csrf_token %}
											<input id="playlist_id" name="playlist_id" type="hidden" value="{{ playlist.id }}">
											<button class="btn btn-warning btn-block m-1" type="submit" data-playlist_id="{{ playlist.id }}" name="submit">Send to Drafts</button>
										</form>
									</div>
								{% else %}
									<div class="row page-header p-2">
										<div class="col p-1">
											<form class="form-inline" id="user-form" method="post" action="{% url 'choonz:publish_playlist' %}">
												{% csrf_token %}
												<input id="playlist_id" name="playlist_id" type="hidden" value="{{ playlist.id }}">
												<button class="btn btn-warning btn-block m-1" type="submit" data-playlist_id="{{ playlist.id }}" name="submit">Publish this Playlist!</button>
											</form>
										</div>
										<div class="col p-1">
											<a class="btn btn-info btn-block m-1 mr-2" href="{% url 'choonz:edit_playlist' playlist.slug %}">Edit Playlist</a>
										</div>
									</div>
								{% endif %}
							{% endif %}
						{% endif %}
					</div>
				</div>
				</div>
			</div>
		</div>
		
		<div class="container page-header">
			<h3 class="container page-header-font">Tags on this Playlist</h3>
			<div class="container" id="tag-listing">
	            {% block sidebar_block %}
	                {% get_tag_list playlist %}
	            {% endblock %}
	        </div> 
	    </div>
		
		<div class="container page-header">
			<h3 class="container page-header-font">Track List</h3>
			{% if songs %}
			<div class="container" id="songs-listing">
				<div class="container">
					{% for song in songs %}
					<li class="choonz-row see-through">
						<div class="col-md-7">
							<div class="col">
								<div class="centred-left-indent-5 row">
									<h5>{{ song.title }}</h5>
								</div>
								<div class="centred-left-indent-10 row">
									<span>by {{ song.artist }}</span>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="choonz-col">
							{% if song.linkToSpotify %}
								<a class="btn btn-primary" href="{{ song.linkToSpotify }}" target="_blank" name="submit">Listen with Spotify</a>
							{% else %}
								<span class="badge badge-dark">User has not provided a link to this song</span>
							{% endif %}
							{% if song.linkOther %}
								<a class="btn btn-primary" href="{{ song.linkOther }}" target="_blank" name="submit">Listen Online</a>
							{% endif %}
							</div>
						</div>
					</li>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="container page-header">
			<h3 class="container page-header-font">Ratings for {{ playlist.name }}</h3>
			<div class="container">
				{% if ratings %}
				<div id="rating-listing">
					{% for rating in ratings %}
					<li class="list-group-item see-through">{{ rating.stars }} &#x2606; - "{{ rating.comment }}" ~ 
						<a href="{% url 'choonz:profile' rating.user.username %}">{{ rating.user.username }} </a>
						<span class="badge badge-light">submitted on {{rating.date}}</span>
					</li>
					{% endfor %}
				</div>
				{% else %}
					<div class="container">
						<strong>No ratings for current playlist.</strong>
					</div>
				{% endif %}
			</div>
			{% else %}
			<div class="container">
				{% if user.is_authenticated %}
					{% if user != playlist.creator %}
						<div class="container">
							<strong>No songs currently in playlist.</strong>
						</div>
					{% else %}
						<div class="container">
							<p><strong>Your playlist is looking a little bare! People can't rate it when it's empty!</strong></p>
							<ul>
								<li class="see-through">Why not <a href="{% url 'choonz:edit_playlist' playlist.slug %}">add some songs</a>?</li>
								<li class="see-through">Or you could <a href="{% url 'choonz:import_playlist' playlist.slug %}">import a playlist from Spotify</a>?</li>
							</ul>
						</div>
					{% endif %}
				{% else %}
					<div class="container">
						<strong>No songs currently in playlist.</strong>
					</div>
				{% endif %}
			</div>
			{% endif %}

		{% else %}
			The specified playlist does not exist.
		{% endif %}
		</div>
{% endblock %}