{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
	<script>
	    $(document).ready( function () {
  			showPlaylistView();
		});
	</script>

	<div class="jumbotron p-3">
		<div class="container">
			<h1 class="jumbotron-heading">
				{% if user_profile.picture %}
					<img src="{{ MEDIA_URL }}{{ form }}" width="70" height="70" alt="{{ selected_user.username }}'s profile image" />
				{% else %}
					<img id="profileImage" src="{% static 'images/dfault_profile_img.png' %}" width="70" height="70" alt="No profile image" />
				{% endif %}
				{% if selected_user == user %}
					My Profile
				{% else %}	
					{{ selected_user.username }}'s Profile
				{% endif %}
			</h1> </br>
			<button class="btn btn-info" type="submit" name="submit" id="view-playlists-button" onclick="showPlaylistView()">Playlists</button>
			<button class="btn btn-info" type="submit" name="submit" id="see-rated-playlists-button" onclick="showRatedPlaylistsView()">Rated Playlists</button>
			{% if selected_user == user %}
				<button class="btn btn-info" type="submit" name="submit" id="edit-profile-button" onclick="showEditProfileView()">Edit Profile</button>
				<button class="btn btn-info" type="submit" name="submit" id="new-playlist-button" onclick='location.href="{% url 'choonz:add_playlist' %}"'>Create Playlist</button>
			{% endif %}
		</div>
	</div>

	<div id="playlist-view" class="container"> 
		<div class="row">
			<div class="col-md-6">
				<div class="card mb-6">
					<div class="card-body">
						<h2>{{ selected_user.username }}'s Playlists</h2>
						<p class="card-text">
							{% if public_playlists %}
								<ul class="list-group">
									{% for playlist in public_playlists %}
										
											<li class="list-group-item"><a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.name }}</a>
												<div>
													<span class="badge badge-light p-2">Number of Ratings: {{playlist.numberOfRatings}}</span>
													<span class="badge badge-light p-2">Avg. Rating: {{playlist.averageRating}}</span>
													{% if selected_user == user %}
														<button class="btn btn-info btn-sm" type="submit" name="submit" id="edit-playlist-button">Edit</button>
														<button class="btn btn-info btn-sm" type="submit" name="submit" id="delete-playlist-button">Delete</button>	
													{% endif %}
												</div>
											</li>
									{% endfor %}
								</ul>
							{% else %}
								<strong>No published playlists</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
		{% if selected_user == user %}	
			<div class="col-md-6">
				<div class="card mb-6">
					<div class="card-body">
						<h2>Draft Playlists</h2>
						<p class="card-text">
							{% if draft_playlists %}
								<ul class="list-group">
									{% for playlist in draft_playlists %}
										<li class="list-group-item"><a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.name }}
											</a>												
											<div>
												<button class="btn btn-info btn-sm" type="submit" name="submit" id="edit-playlist-button">Edit</button>
												<button class="btn btn-info btn-sm" type="submit" name="submit" id="delete-playlist-button">Delete</button>
											</div>
										</li>
									{% endfor %}
								</ul>
							{% else %}
								<strong>There are no playlists present.</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
		{% endif %}	
		</div>
	</div>

	<div id="rated-playlists-view" class="container"> 
		<div class="row">
			<div class="col-md-6">
				<div class="card mb-6">
					<div class="card-body">
						<h2>{{ selected_user.username }}'s Ratings</h2>
						<p class="card-text">
							{% if rated_playlists %}
								<ul class="list-group">
								{% for playlist in rated_playlists %}
									<li class="list-group-item"><a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.playlist }}</a>
										<div>
											{% if selected_user == user %}
												<span class="badge badge-light p-2">Your Rating: {{playlist.stars}}</span>
											{% else %}
												<span class="badge badge-light p-2">{{ selected_user.username }}'s Rating: {{playlist.stars}}</span>
											{% endif %}	
											<span class="badge badge-light p-2">Number of Ratings: {{playlist.numberOfRatings}}</span>
											<span class="badge badge-light p-2">Avg. Rating: {{playlist.averageRating}}</span>
										</div>
									</li>
								{% endfor %}
								</ul>
							{% else %}
								<strong>No rated playlists</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="edit-profile-view" class="container">
		
				{% if selected_user == user %}
				<div class="card p-4">
					{% if user_profile.picture %}
						<img src="{{ MEDIA_URL }}{{ form }}" width="320" height="240" alt="{{ selected_user.username }}'s profile image" />
					{% else %}
						<img src="{% static 'images/dfault_profile_img.png' %}" width="320" height="240" alt="No profile image" />
					{% endif %}
					<br />
					<form method="post" action="{% url 'choonz:register_profile' %}" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="card-body">
							<div class="input-group mb-3">
								<p class="required">
		                            <div class="input-group-prepend">
		                                <span class="input-group-text" id="basic-addon1">Profile Picture:</span>
		                            </div>
		                            <input class="form-control" type="file" id="picture" name="picture">
		                        </p>
		                    </div>
		                    <p>
		                    	<span class="helptext">
									Upload a profile picture!
								</span>
							</p>
						</div>
						<input class="btn btn-info" type="submit" value="Save Changes" />
					</form>
				</div>
				{% else %}
					<p>
						<strong>Website:</strong>
						<a href="{{ user_profile.website }}">{{ user_profile.website }}</a>
					</p>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}