{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Profile for {{ selected_user.username }}
{% endblock %}

<body onload="showPlaylistView()">
{% block body_block %}

	<div class="jumbotron p-3">
		<div class="container">
			<div class="row">
				<div class="col mb-3">
					{% if user_profile.picture %}
						<img src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="70" height="70" alt="{{ selected_user.username }}'s profile image" />
					{% else %}
						<img id="profileImage" src="{% static 'images/default_profile_img.png' %}" width="70" height="70" alt="No profile image" />
					{% endif %}
					</br>
					<h1 class="jumbotron-heading">
						{% if selected_user == user %}
							My Profile
						{% else %}	
							{{ selected_user.username }}'s Profile
						{% endif %}
					</h1> 
				</div>
			</div>
			<button class="btn btn-info" type="submit" name="submit" id="view-playlists-button" onclick="showPlaylistView()">Playlists</button>
			<button class="btn btn-info" type="submit" name="submit" id="see-rated-playlists-button" onclick="showRatedPlaylistsView()">Rated Playlists</button>
			{% if selected_user == user %}
				<button class="btn btn-info" type="submit" name="submit" id="edit-profile-button" onclick="showEditProfileView()">Edit Profile</button>
				<button class="btn btn-info" type="submit" name="submit" id="new-playlist-button" 
						onclick='location.href="{% url 'choonz:add_playlist' %}"'>Create Playlist
				</button>
			{% endif %}
		</div>
	</div>

	<div id="playlist-view" class="container"> 
		<div class="row">
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-body">
						<h2>{{ selected_user.username }}'s Playlists</h2>
						<p class="card-text">
							{% if public_playlists %}
								<ul class="list-group">
								{% for playlist in public_playlists %}										
									<li class="list-group-item">
										{% if playlist.image %}
											<img src="{{ MEDIA_URL }}{{ playlist.image }}" width="50" height="50" 
												alt="Playlist image"/>
										{% else %}
											<img src="{% static 'images/default_profile_img.png' %}" width="50" height="50" 
												alt="No playlist image" />
										{% endif %}
										<a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.name|truncatechars:20 }}</a>
										<div>
											<span class="badge badge-light p-2">Number of Ratings: {{playlist.numberOfRatings}}</span>
											<span class="badge badge-light p-2">Avg. Rating: {{playlist.averageRating}}</span>
											{% if selected_user == user %}
												<button class="btn btn-info btn-sm" type="submit" name="submit" id="edit-playlist-button">Edit</button>	
											{% endif %}
										</div>
									</li>
								{% endfor %}
								</ul>
							{% else %}
								<strong>No published playlists</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-body">
						<h2>Popular Playlists</h2>
						<p class="card-text">
							{% if public_playlists %}
								<ul class="list-group">
									{% for playlist in popular_playlists %}								
											<li class="list-group-item">
												{% if playlist.image %}
													<img src="{{ MEDIA_URL }}{{ playlist.image }}" width="50" height="50" 
														alt="Playlist image"/>
												{% else %}
													<img src="{% static 'images/default_profile_img.png' %}" width="50" height="50" 
														alt="No playlist image" />
												{% endif %}
												<a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.name|truncatechars:20 }}</a>
												<div>
													<span class="badge badge-light p-2">Number of Ratings: {{playlist.numberOfRatings}}</span>
													<span class="badge badge-light p-2">Avg. Rating: {{playlist.averageRating}}</span>
													{% if selected_user == user %}
														<form class="form-inline" id="user-form" method="get" action="{% url 'choonz:show_playlist' playlist.slug %}">
															<button class="btn btn-info btn-sm" type="submit" name="submit">Edit</button>
														</form>
													{% endif %}
												</div>
											</li>
									{% endfor %}
								</ul>
							{% else %}
								<strong>No published playlists</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
		
			{% if selected_user == user %}	
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-body">
						<h2>Draft Playlists</h2>
						<p class="card-text">
							{% if draft_playlists %}
								<ul class="list-group">
									{% for playlist in draft_playlists %}
										<li class="list-group-item">
											{% if playlist.image %}
												<img src="{{ MEDIA_URL }}{{ playlist.image }}" width="50" height="50" 
													alt="Playlist image"/>
											{% else %}
												<img src="{% static 'images/default_profile_img.png' %}" width="50" height="50" 
													alt="No playlist image" />
											{% endif %}	
											<a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.name|truncatechars:20 }}</a>
												
											<div>
												<form class="form-inline" id="user-form" method="get" action="{% url 'choonz:show_playlist' playlist.slug %}">
													<button class="btn btn-info btn-sm" type="submit" name="submit">Edit</button>
												</form>
											</div>
										</li>
									{% endfor %}
								</ul>
							{% else %}
								<strong>There are no playlists present.</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
		{% endif %}	
		</div>
	</div>

	<div id="rated-playlists-view" class="container"> 
		<div class="row">
			<div class="col-md-6">
				<div class="card mb-6">
					<div class="card-body">
						<h2>{{ selected_user.username }}'s Ratings</h2>
						<p class="card-text">
							{% if rated_playlists %}
								<ul class="list-group">
								{% for playlist in rated_playlists %}												
									<li class="list-group-item">
										{% if playlist.image %}
											<img src="{{ MEDIA_URL }}{{ playlist.image }}" width="50" height="50" 
												alt="Playlist image"/>
										{% else %}
											<img src="{% static 'images/default_profile_img.png' %}" width="50" height="50" 
												alt="No playlist image" />
										{% endif %}	
										<a href="{% url 'choonz:show_playlist' playlist.slug %}">{{ playlist.playlist|truncatechars:40 }}</a>
										<div>
											{% if selected_user == user %}
												<span class="badge badge-light p-2">Your Rating: {{playlist.stars}}</span>
											{% else %}
												<span class="badge badge-light p-2">{{ selected_user.username }}'s Rating: {{playlist.stars}}</span>
											{% endif %}
											<span class="badge badge-light p-2">Number of Ratings: {{playlist.numberOfRatings}}</span>
											<span class="badge badge-light p-2">Avg. Rating: {{playlist.averageRating}}</span>
										</div>
									</li>
								{% endfor %}
								</ul>
							{% else %}
								<strong>No rated playlists</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card mb-6">
					<div class="card-body">
						<h2>{{ selected_user.username }}'s Favourite Tags</h2>
						<p class="card-text">
							{% if rated_playlists %}
								<ul class="list-group">
								{% for playlist in rated_playlists %}												
									<li class="list-group-item">	
										<a href="{% url 'choonz:show_playlist' playlist.slug %}">#{{ playlist.tag|truncatechars:40 }}</a>
									</li>
								{% endfor %}
									</ul>
							{% else %}
								<strong>No rated playlists</strong>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% if selected_user == user %}
	<div id="edit-profile-view" class="container">
		<div class="row">
			<div class="col">
				<div class="card p-4">
					<div class="container-fluid">
						<div class="card p-4">
						{% if user_profile.picture %}
							<img src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="320" height="240" 
								alt="{{ selected_user.username }}'s profile image"/>
						{% else %}
							<img src="{% static 'images/default_profile_img.png' %}" width="320" height="240" 
								alt="No profile image" />
						{% endif %}
						</div>
					</div>
					<h3 align="center">Profile Picture</h3>
				</div>
			</div>
				<div class="col">
					<div class="card p-2">
						<form method="post" action="." enctype="multipart/form-data">
							{% csrf_token %}
							{{ form.as_p }}
							<input class="btn btn-info btn-block" type="submit" value="Update" />
						</form>
					</div>
					<div class="card p-2">
						<button class="btn btn-info" type="submit" name="submit" id="new-playlist-button" 
								onclick='location.href="{% url 'auth_password_change' %}"'>Change Password
						</button>
					</div>	
				</div>
			</div>
		</div>	

	{% endif %}
{% endblock %}
</body>