{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Rate this Playlist
{% endblock %}

{% block body_block %}
    <div class="container-fluid" id="headerContainer">
        <h1 class="display-4" id="titleHeader">Rate Playlist</h1>
        <p class="lead"></p>
    </div>

    <div class="card text-center">
        <div class="container">
            <div class="row">
                {% if playlist %}
                    <form role="form" id="playlist_form" method="post" action="{% url 'choonz:rate_playlist' playlist.slug %}">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <p class="required">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Stars rating: </span>
                                    </div>
                                    <input type="text" name="stars" id="stars" class="form-control" placeholder="" required autofocus size="10">
                                </p>
                            </div>
                            <div class="input-group mb-3">
                                <p class="required">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Comment: </span>
                                    </div>
                                    <input type="text" name="comment" id="comment" class="form-control" placeholder="" size="100">
                                </p>
                            </div>
                        <button class="btn btn-primary" type="submit" name="submit">Rate Playlist</button>
                        </div>
                    </form>
                {% else %}
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Invalid playlist - please go back to the playlist and try again.</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


