{% extends 'choonz/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Restricted Page
{% endblock %}

{% block body_block %}
	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading">Since you are logged in, you can see this text!</h1>
		</div>
	</div>

	<div class="card">
		<form class="form-inline" id="user-form" method="post" action="{% url 'choonz:restricted' %}">
			{% csrf_token %}
			<h3>Search Spotify here:</h3>
			<div class="form-group">
				<input class="form-control" type="text" size="50" name="query" id="query" value="{{ query }}"/>
			</div>

			<button class="btn btn-primary" type="submit" name="submit">Search</button>
		</form>
	</div>

	<div class="container">
		{% if results %}
			<div class="card">
				<ul>
				{% for track in results %}
					<li class="list-group-item"><span>{{ track.track_name }} by {{ track.artist_name }}			</span><span><a href="track.link">Listen on Spotify		</a></span><img width=30 height=30 src="{{ track.album_image }}"/></li>
				{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
{% endblock %}